azure-core
azure-identity
azure_sql
blinker
certifi
cffi
charset-normalizer
click
colorama
cryptography
Flask
Flask-Login
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
itsdangerous
Jinja2
MarkupSafe
msal
msal-extensions
numpy
pandas
portalocker
pycparser
PyJWT
pyodbc
python-dateutil
python-dotenv
pytz
requests
six
SQLAlchemy
typing_extensions
tzdata
urllib3
Werkzeug
WTForms
gunicorn